/*Основные настройки*/
body
{
	font: 14px Verdana, Arial, sans-serif;
	background-color: rgb(243, 245, 247);
}

header
{
	font-size: 1.2rem;
	font-weight: bold;
	background-color: rgb(25, 122, 203);
	color: rgb(242, 255, 255);
}

/*Заголовки. Не кликабельны*/
nav .section-title
{
	color: #202124;
	display: block;
	font-weight: bold;
	border: 1px solid rgb(191, 207, 218);
	border-radius: 3px;
	border-bottom-left-radius: 0;
	background-color: rgb(239, 243, 252);
}

/*Оформление ссылок. В виде списка элементов*/
nav .nav-menu
{
	padding: 0;
	margin: 0;
	list-style-type: none;
	background-color: rgb(255, 255, 255);
}

/*Оформление ссылок.*/
nav .nav-menu li a
{
	text-decoration: none;
	display: block;
	color: rgb(0, 0, 0);
	border-bottom: 1px solid rgb(231, 232, 236);
}

nav .nav-menu .nav-menu-right
{
	float: right;
	color: rgb(116, 119, 125);
}

/*Убираем подчёркивание у последней ссылки*/
.nav-menu li:last-child a
{
	border-bottom: none;
}

.nav-menu li a:hover
{
	color: rgb(52, 152, 219);
	background-color: rgb(241, 242, 244);
}

.nav-menu li a:hover .nav-menu-right
{
	color: rgb(52, 152, 219);
}
